@{
    Layout = null;
}
@model PerformanceManagement.Models.ProtestResponse
    <form id="addProtestationFrm" method="post" class="form-horizontal">
        <input type="hidden" name="protestId" value="@Model.ProtestId" />

        <div class="modal fade" id="addProtestationModal" tabindex="" role="" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header bg-blue">
                        <button type="button" id="modal-close" class="close"
                                data-dismiss="modal" aria-hidden="true"></button>
                        <h4 id="sabt_hazine_personnel" class="modal-title">
                            <i class="fa fa-file-o"></i>
                            پاسخ اعتراض
                        </h4>
                    </div>

                    <div class="modal-body">
                        <div class="form-body">
                            <div id="alert_danger" class="alert alert-danger display-hide">
                                <button class="close" data-close="alert"></button>
                                پر کردن فيلدهاي ستاره دار اجباري مي باشد.
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label col-md-2">
                                            شرح
                                            <span class="required">
                                                *
                                            </span>
                                        </label>
                                        <div class="col-md-10">
                                            <div class="input-icon right">
                                                <i class="fa"></i>
                                                <textarea id="protestResponse" name="protestResponse" class="form-control" rows="3">
                                            </textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!--/span-->
                            <!--/row-->
                        </div>
                        <!-- END FORM-->
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn green input-sm input-small" id="addProtestationSubmit">ذخيره</button>
                        <button type="button" class="btn red input-sm input-small" id="cancel" data-dismiss="modal"><i class="fa fa-times"></i>انصراف</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
    </form>

<script>
    $('#addProtestationModal').modal('show');

    $("#addProtestationFrm").submit(function (e) {
        //alert('dpCreationSubmit');
        //var postdata2 = $(this).serializeArray();
        //debugger;

        var form = $('#addProtestationFrm');
        form.validate({
            //console.log($('#registerform').serializeArray());
            errorElement: 'span', //default input error message container
            errorClass: 'help-block', // default input error message class
            focusInvalid: false, // do not focus the last invalid input
            ignore: "",
            rules: {
                protestResponse: {
                    required: true
                }
            },
            messages: {
                protestResponse: {
                    required: "پر کردن این فیلد الزامی می باشد"
                }
            },
            invalidHandler: function (event, validator) { //display error alert on form submit
                //                    success2.hide();
                //                    error2.show();
                //                    App.scrollTo(error2, -200);
            },
            errorPlacement: function (error, element) { // render error placement for each input type
                var icon = $(element).parent('.input-icon').children('i');
                icon.removeClass('fa-check').addClass("fa-warning");
                icon.attr("data-original-title", error.text()).tooltip();
            },
            highlight: function (element) { // hightlight error inputs
                $(element)
                    .closest('.form-group').addClass('has-error'); // set error class to the control group
            },

            unhighlight: function (element) { // revert the change done by hightlight

            },

            success: function (label, element) {
                var icon = $(element).parent('.input-icon').children('i');
                $(element).closest('.form-group').removeClass('has-error').addClass('has-success'); // set success class to the control group
                icon.removeClass("fa-warning").addClass("fa-check");
            },

            submitHandler: function (form) {
                //                    success2.show();
                //                    error2.hide();
            }
        })
        if (form.valid() == false) {
            //console.log($('#registerform').serializeArray());
            return false;
        } else {
            //$("#articleSubmit").addClass('disabled');
            $("#addProtestationSubmit").attr("disabled", "disabled");

            var btn = $("#addProtestationSubmit");
            btn.button('loading');
            var postdata = new FormData(this);
            //listOfSubTask = JSON.stringify(listOfSubTask);
            //var postdata = $(this).serializeArray();
            //postdata.append(JSON.stringify(listOfSubTask));
            //console.log(postdata);
            $.ajax(
                {
                    url: '/Protestation/AddResponse',
                    //url : formURL,
                    data: postdata,
                    //data: JSON.stringify(CoveredEmployee),
                    //data: "firstName=" + $("fn").val(),
                    cache: false,
                    contentType: false,
                    processData: false,
                    //datatype: 'json',
                    //contentType: 'application/json; charset=utf-8',
                    type: 'POST',

                    success: function (data, textStatus, jqXHR) {
                        var message = "";
                        if (data > 0) {
                            message += "<span>اطلاعات مورد نظر با موفقیت ثبت گردید.</span><br><br>";
                            toastr.options.timeOut = "15000";
                            toastr.options.positionClass = "toast-top-center";
                            toastr.success(message);
                            $("#addProtestationFrm")[0].reset();
                            $("#addProtestationModal").modal("hide");
                            //dt.ajax.url("/EmployeeSensibleEvent/GetSensibleEventList");
                            dt.ajax.reload();
                        }
                        else if (data == 0) {
                            message += "<span>ثبت اطلاعات موفقبت آمیز نبود</span><br><br>";
                            toastr.options.timeOut = "15000";
                            toastr.options.positionClass = "toast-top-center";
                            toastr.info(message);
                        }

                        //resetFormValidation();
                        //$("#periodDefinitionTable").DataTable().destroy();
                        //show_dataTable();

                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        alert("erorr00000");
                        alert(jqXHR);
                        alert(textStatus);
                    }
                }).always(function () {
                    $("#addProtestationSubmit").button('reset');
                });
            //$.getScript('/assets/javascript/articleForm.js', function () {
            //    ArticleForm.init(postdata);
            //    $("#articleForm")[0].reset();
            //});
            e.preventDefault(e);
        }
    });
</script>