@{
    Layout = null;
}

<form method="post" id="renewContractFrm" class="form-horizontal">

    <div class="modal fade department modalClass" id="renewContractModal" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog ">
            <div class="modal-content">
                <div class="modal-header bg-blue">
                    <button type="button" id="modal-close" class="close"
                            data-dismiss="modal" aria-hidden="true"></button>
                    <h4 id="sabt_hazine_personnel" class="modal-title">
                        <i class="fa fa-file-o"></i>
                        تغییر وضعیت تفاهم
                    </h4>
                </div>

                <div class="modal-body">
                    <div class="form-body">

                        <div id="alert_danger" class="alert alert-danger display-hide">
                            <button class="close" data-close="alert"></button>
                            پر کردن فيلدهاي ستاره دار اجباري مي باشد.
                        </div>

                        @*<div class="alert alert-block alert-info fade in">
                            <button type="button" class="close" data-dismiss="alert"></button>
                            <h4 class="alert-heading">روش وزن دهی</h4>
                            <p id="weightWayInfo">

                            </p>
                        </div>*@
                        <div class="row">
                            <!--/span-->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-6">
                                        تغییر وضعیت تفاهم
                                        <span class="required">
                                            *
                                        </span>
                                    </label>
                                    <div class="col-md-6">
                                        <div class="input-icon right">
                                            <i class="fa"></i>
                                            <select id="EvaluationAcceptanceStatusId" name="EvaluationAcceptanceStatusId" class="form-control">
                                                <option></option>
                                                <option value="3">صرف نظر</option>
                                                <option value="2">ابلاغی</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="taskRow"></div>


                    </div>
                    <!-- END FORM-->
                </div>

                <div class="modal-footer">
                    <button type="submit" confirmation="1" class="btn green input-sm input-small" id="renewContractBTN">ذخیره</button>
                    <button type="button" class="btn red input-sm input-small" id="cancel11" data-dismiss="modal"><i class="fa fa-times"></i>انصراف</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
</form>
<script type="text/html" id="appendTask">
    <div class="row">
        <!--/span-->
        <div class="col-md-4">
            <div class="form-group">
                <label class="control-label col-md-6">
                    نام وظیفه:
                </label>
            </div>
        </div>
        <div class="col-md-8">
            <div class="form-group">
                <label class="control-label col-md-6">
                    {1}
                </label>
            </div>
        </div>
    </div>
</script>
<script>

    $(document).ready(function () {
        var index;;
        var finalResult = false;
        var template = jQuery.validator.format($.trim($("#appendTask").html()));
        var length = dt.rows('.selected').data().length;
        var evaluationArr = [];
        var departmentIdR;
        var periodDefinitionIdR;
        var selector;
        if (length > 0) {
            selector = "#taskAssignmentTable >tbody>tr.selected";
        } else {
            selector = "#taskAssignmentTable >tbody>tr";
        }
        var row;
        $(selector).each(function (i, tr) {
            row = dt.row(tr);
            //console.log(dt.row(tr));
            //row.child(row.data().fullName).show()
            //alert(row.data().fullName)
            if (row.data().allocatorRoleName != "PlanningAdmin" && row.data().allocatorRoleName != "HRAdmin" /*&& (row.data().EvaluationAcceptanceStatusId == 1 || row.data().EvaluationAcceptanceStatusId == 4)*/) {
                index = i++;
                $(template(index, row.data().Title, row.data().TaskId, row.data().EvaluationId, row.data().PeriodDefinitoionId)).appendTo("#taskRow");
                evaluationArr.push(row.data().EvaluationId);
                departmentIdR = row.data().AllocatorEvaluationHierarchyId;
                periodDefinitionIdR = row.data().PeriodDefinitoionId;
                finalResult = true;
            }
        })
        console.log(evaluationArr);
        if (!finalResult) {
            alert("فقط وظایفی که اختصاص دهنده آن مربی و وضعیت آن تفاهم یا نامشخص باشد قابلیت تایید یا عدم تایید دارند.");
        }
        else if (finalResult) {
            $('#renewContractModal').modal('show');

            $("#renewContractBTN").click(function () {
                //alert('dpCreationSubmit');
                //var postdata2 = $(this).serializeArray();
                var form = $("#renewContractFrm");
                form.validate({
                    //console.log($('#registerform').serializeArray());
                    errorElement: 'span', //default input error message container
                    errorClass: 'help-block', // default input error message class
                    focusInvalid: false, // do not focus the last invalid input
                    ignore: "",
                    rules: {
                        EvaluationAcceptanceStatusId: {
                            required: true,
                        }
                    },
                    messages: {
                        EvaluationAcceptanceStatusId: {
                            required: "پر کردن این فیلد الزامی می باشد"
                        }
                    },
                    invalidHandler: function (event, validator) { //display error alert on form submit
                        //                    success2.hide();
                        //                    error2.show();
                        //                    App.scrollTo(error2, -200);
                    },
                    errorPlacement: function (error, element) { // render error placement for each input type
                        var icon = $(element).parent('.input-icon').children('i');
                        icon.removeClass('fa-check').addClass("fa-warning");
                        icon.attr("data-original-title", error.text()).tooltip();
                    },
                    highlight: function (element) { // hightlight error inputs
                        $(element)
                            .closest('.form-group').addClass('has-error'); // set error class to the control group
                    },

                    unhighlight: function (element) { // revert the change done by hightlight

                    },

                    success: function (label, element) {
                        var icon = $(element).parent('.input-icon').children('i');
                        $(element).closest('.form-group').removeClass('has-error').addClass('has-success'); // set success class to the control group
                        icon.removeClass("fa-warning").addClass("fa-check");
                    },

                    submitHandler: function (form) {
                        //                    success2.show();
                        //                    error2.hide();
                    }
                })
                if (form.valid() == false) {
                    //console.log($('#registerform').serializeArray());

                    return false;
                } else {
                    var PerformConfirmationView = {};
                    PerformConfirmationView.EvaluationId = evaluationArr;
                    PerformConfirmationView.ConfirmationType = $(this).attr("confirmation");
                    PerformConfirmationView.EvaluationAcceptanceStatusId = $('#EvaluationAcceptanceStatusId').children('option:selected').val();
                    PerformConfirmationView.DepartmnetId = departmentIdR;
                    PerformConfirmationView.PeriodDefinitionId = periodDefinitionIdR
                    //$("#articleSubmit").addClass('disabled');
                    // $("#dpCreationSubmit").attr("disabled", "disabled");
                    var btn = $("#renewContractBTN");
                    btn.button('loading');
                    //var postdata = new FormData(this);
                    //var postdata = $('#scoreAssignmentFrm').serializeArray();

                    //console.log(postdata);
                    $.ajax(
                        {
                            datatype: "json",
                            //data:postdata,
                            url: "/TaskAssignment/RenewContract",
                            //url : formURL,
                            //                        data: postdata2,
                            data: JSON.stringify(PerformConfirmationView),
                            //data: "firstName=" + $("fn").val(),
                            //cache: false,
                            contentType: 'application/json; charset=utf-8',
                            //contentType: false,
                            //processData: false,
                            type: "POST",

                            success: function (data, textStatus, jqXHR) {
                                if (data > 0) {
                                    $("#renewContractModal").modal("hide")
                                    dt.ajax.url("/TaskAssignment/GetAssignedTaskList");
                                    dt.ajax.reload();
                                    //resetFormValidation();
                                    toastr.options.timeOut = "15000";
                                    toastr.options.positionClass = "toast-top-center";
                                    toastr.success("اطلاعات مورد نظر با موفقیت ثبت گردید.");
                                } else if (data == 0) {
                                    toastr.options.timeOut = "15000";
                                    toastr.options.positionClass = "toast-top-center";
                                    toastr.error("اطلاعات مورد نظر ثبت نگردید.");
                                }
                                if (data.notAuthorized == "true") {
                                    message = "کاربر گرامی جهت تخصیص با سمت سازمانی مورد نظر در بازه زمانی مجاز اقدام نمایید.";
                                    toastr.options.timeOut = "15000";
                                    toastr.options.positionClass = "toast-top-center";
                                    toastr.info(message);
                                }
                            },
                            error: function (jqXHR, textStatus, errorThrown) {
                                alert("erorr");
                                alert(jqXHR);
                                alert(textStatus);
                            }
                        }).always(function () {
                            $("#renewContractBTN").button('reset');
                        });
                    //$.getScript('/assets/javascript/articleForm.js', function () {
                    //    ArticleForm.init(postdata);
                    //    $("#articleForm")[0].reset();
                    //});
                    // e.preventDefault(e);
                }
            });
        }
    });
</script>