@{
    ViewData["Title"] = "مخاطب اعتراض";
}
@section Styles{
    @*<link rel="stylesheet" type="text/css" href="/assets/plugins/jquery-multi-select/css/multi-select-rtl.css" />*@
<link rel="stylesheet" type="text/css" href="/assets/plugins/bootstrap-toastr/toastr-rtl.min.css" />
    @*<link rel="stylesheet" type="text/css" href="/assets/plugins/select2/select2-rtl.css" />*@
<link rel="stylesheet" type="text/css" href="/assets/plugins/select2v4/select2/dist/css/select2.css" />
    @*<link id="select2-metronic" rel="stylesheet" type="text/css" href="/assets/plugins/select2/select2-metronic-rtl.css" />*@
    @*<link href="/assets/plugins/bootstrap-modal/css/bootstrap-modal-bs3patch.css" rel="stylesheet" type="text/css" />
<link href="/assets/plugins/bootstrap-modal/css/bootstrap-modal.css" rel="stylesheet" type="text/css" />*@
<link rel="stylesheet" href="/assets/plugins/jQuery-tagEditor-master/jquery.tag-editor.css" />

<link rel="stylesheet" href="/assets/advancedDataTable/jquery.dataTables.css" />
<link rel="stylesheet" href="/assets/advancedDataTable/buttons.dataTables.css" />

<link href="/assets/plugins/persian-datepicker/bootstrap-datepicker.min.css" rel="stylesheet" type="text/css" />
<style>
    .tag-editor li {
        float: right;
    }

    .input-icon.right i {
        left: auto !important;
    }

    .tag-editor {
        line-height: 27px;
        /*max-width: 300px;*/
        overflow: auto;
    }

    .btn-sm, .btn-xs {
        margin: 2px;
    }

    td.details-control {
        background: url('/assets/img/details_open.png') no-repeat center center;
        cursor: pointer;
    }
    td.details-control2 {
        background: url('/assets/img/details_open.png') no-repeat center center;
        cursor: pointer;
    }
    tr.details td.details-control {
        background: url('/assets/img/details_close.png') no-repeat center center;
    }
    tr.details td.details-control2 {
        background: url('/assets/img/details_close.png') no-repeat center center;
    }
    .dataTable .details td, .dataTable .details th {
        padding: 8px;
        background: none;
        border: 0;
    }

    .input-DT {
        margin-left: 5px;
    }

    .select2-container .select2-choice > .select2-chosen {
        /*display: block;*/
        overflow: initial;
    }

    #criteria-list {
        z-index: 99999 !important;
    }

    .btn-add, .h3-section {
        margin-right: 10px !important;
    }

    .input-icon.right i {
        z-index: +100;
    }

    .select2-container--open .select2-dropdown {
        z-index: 99999999
    }

    #dataTables_filter_subSet {
        margin-top: 32px;
    }
    /*generated dynamically in textTaskIndirect and because of bug had set width*/
    #participantt2Select21 {
        width: 176px;
    }

    table.dataTable tbody tr.selected td {
        background-color: #B0BED9;
    }
</style>
}
<!-- BEGIN PAGE HEADER-->
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN PAGE TITLE & BREADCRUMB-->
        <h3 class="page-title">
            <small></small>

        </h3>
        <div class="clearfix"></div>
        <ul class="page-breadcrumb breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="/home">
                    خانه
                </a>
                <i class="fa fa-angle-left"></i>
            </li>
            <li>
                <a href="#">
                    مسیر مورد نظر
                </a>
            </li>
            <li class="pull-right">
                <div id="dashboard-report-range" class="dashboard-date-range tooltips" data-placement="top" data-original-title="Change dashboard date range">
                    <i class="fa fa-calendar"></i>
                    <span>
                    </span>
                    <i class="fa fa-angle-down"></i>
                </div>
            </li>
        </ul>
        <!-- END PAGE TITLE & BREADCRUMB-->
    </div>
</div>
<!-- END PAGE HEADER-->
<div class="portlet box blue tabbable">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-reorder"></i>مشاهدات اعتراضات
        </div>
    </div>
    <div class="portlet-body">
        <div class=" portlet-tabs">
            <ul class="nav nav-tabs">
                <li>
                    <a id="subSetProtestation" href="#portlet_tab2" data-toggle="tab">
                        مشاهدات اعتراضات زیرمجموعه
                    </a>
                </li>
                <li class="active">
                    <a href="#portlet_tab1" data-toggle="tab">
                        پاسخ اعتراضات به عنوان مخاطب
                    </a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="portlet_tab1">
                    <div class="clearfix">
                    </div>
                    <table class="table table-striped table-hover table-bordered" id="protestAddresseeTbl">
                        <thead>
                            <tr>
                                <th>
                                    کد دوره
                                </th>
                                <th>
                                    عنوان دوره
                                </th>
                                <th>
                                    کارمند
                                </th>
                                <th>
                                    واحد کارمند
                                </th>
                                <th>
                                    شرح
                                </th>
                                <th>
                                    وضعیت پذیرش
                                </th>
                                <th>
                                    قابل مشاهده <br>سلسله مراتب
                                </th>
                                <th width="300px">
                                    مخاطبان
                                </th>
                                <th>
                                    سطح مربیان
                                </th>
                                <th>
                                    پاسخ
                                </th>
                                <th>
                                    جزییات
                                </th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
                <div class="tab-pane" id="portlet_tab2">

                </div>
            </div>
        </div>
    </div>
</div>

@*<div class="row">
    <div class="col-md-12">
        <div class="portlet blue box">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-cogs"></i>  مشاهده و پاسخ اعتراضات به عنوان مخاطب
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse">
                    </a>
                    <a href="#portlet-config" data-toggle="modal" class="config">
                    </a>
                    <a href="javascript:;" class="reload">
                    </a>
                    <a href="javascript:;" class="remove">
                    </a>
                </div>
            </div>
            <div class="portlet-body">

                <div class="clearfix">
                </div>
                <table class="table table-striped table-hover table-bordered" id="protestAddresseeTbl">
                    <thead>
                        <tr>
                            <th>
                                کد دوره
                            </th>
                            <th>
                                عنوان دوره
                            </th>
                            <th>
                                کارمند
                            </th>
                            <th>
                                واحد کارمند
                            </th>
                            <th>
                                شرح
                            </th>
                            <th>
                                وضعیت پذیرش
                            </th>
                            <th>
                                قابل مشاهده <br>سلسله مراتب
                            </th>
                            <th width="300px">
                                مخاطبان
                            </th>
                            <th>
                                سطح مربیان
                            </th>
                            <th>
                                پاسخ
                            </th>
                            <th>
                                جزییات
                            </th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>*@

@section Plugins{
<script src="/assets/plugins/jquery-validation/dist/jquery.validate.min.js" type="text/javascript"></script>
<script src="/assets/plugins/bootstrap-toastr/toastr.min.js"></script>
<script src="/assets/scripts/custom/ui-toastr.js"></script>

    @*
<script type="text/javascript" src="/assets/plugins/select2/select2.min.js"></script>*@

<script type="text/javascript" src="/assets/plugins/select2v4/select2/dist/js/select2.min.js"></script>
<script src="/assets/plugins/jQuery-tagEditor-master/jquery.caret.min.js"></script>
<script src="/assets/plugins/jQuery-tagEditor-master/jquery.tag-editor.min.js"></script>


<script src="/assets/plugins/jquery-validation/dist/jquery.validate.min.js" type="text/javascript"></script>

    @*
<script src="/assets/plugins/bootstrap-modal/js/bootstrap-modalmanager.js" type="text/javascript"></script>
<script src="/assets/plugins/bootstrap-modal/js/bootstrap-modal.js" type="text/javascript"></script>*@

<script src="/assets/advancedDataTable/DataTables-1.10.19.js" type="text/javascript"></script>
<script src="/assets/advancedDataTable/Buttons-for-DataTables-1.5.2.js" type="text/javascript"></script>
<script src="/assets/advancedDataTable/buttons.print.js" type="text/javascript"></script>
<script src="/assets/advancedDataTable/buttons.ColVis.js" type="text/javascript"></script>
<script src="/assets/advancedDataTable/jsZip.js" type="text/javascript"></script>
<script src="/assets/advancedDataTable/pdfmake.js" type="text/javascript"></script>
<script src="/assets/advancedDataTable/pdfmake.font.js" type="text/javascript"></script>
<script src="/assets/advancedDataTable/buttons.html5.js" type="text/javascript"></script>

<script src="/assets/plugins/persian-datepicker/jquery.ui.datepicker-cc.all.min.js" type="text/javascript"></script>
<script src="/assets/plugins/dist//jalali-moment.browser.js"></script>

}

@section Scripts{
<script>

    function protestationResponseView(d) {
        var r;
        $.ajax({
            url: "/ProtestAddressee/GetProtestationResponseList",
            type: "POST",
            data: { protestId: d.ProtestId },
            async: false,
            dataType: "html",
            success: function (result) {
                r = result;
            }
        });
        return r;
    }
    var dt;
    function show_dataTable() {
        dt = $('#protestAddresseeTbl').DataTable({
            dom: 'CT<"clearfix">lBfrtip',
            buttons: [
                'copy', 'csv', 'excel',
                'pdf',
                {
                    extend: 'pdfHtml5',
                    download: 'open',
                    exportOptions: {
                        columns: ':visible'
                    }
                },
                {
                    extend: 'print',
                    exportOptions: {
                        columns: ':visible'
                    }
                },
                'colvis'
            ],
            columnDefs: [
                {
                    targets: [-1],
                    visible: false
                }
            ],
            "fnInitComplete": function (oSettings, json) {

            },
            "fnDrawCallback": function (oSettings) {
                $(".reply").click(function (i, tr) {
                    var ProtestResponse = {};
                    row = dt.row($(this).closest('tr'));
                    ProtestResponse.ProtestId = row.data().ProtestId;
                    ProtestResponse.CoacherLevel = row.data().DistanceLevel;
                    ProtestResponse.PersonDepartmentId = $('#departmentId').children('option:selected').val();
                    $.ajax(
                        {
                            //url: "/ProtestAddressee/AddAddresseeResponse",
                            //contentType: 'aplication/json;charset=utf-8',
                            //type: "GET",
                            //datatype: 'html',

                            url: '/ProtestAddressee/AddAddresseeResponsePartial',
                            //url : formURL,
                            //data: postdata,
                            data: JSON.stringify(ProtestResponse),
                            //data: "firstName=" + $("fn").val(),
                            //cache: false,
                            //contentType: false,
                            //processData: false,
                            datatype: 'json',
                            contentType: 'application/json; charset=utf-8',
                            type: 'post',

                            success: function (data, textStatus, jqXHR) {
                                $("#modalPlace").html(data);
                            },
                            error: function (jqXHR, textStatus, errorThrown) {
                                alert("erorr");
                                alert(jqXHR);
                                alert(textStatus);
                            }
                        });
                });
                // Array to track the ids of the details displayed rows
                var detailRows = [];
                $('.details-control').on('click', function () {
                    var tr = $(this).closest('tr');
                    var row = dt.row(tr);
                    var idx = $.inArray(tr.attr('id'), detailRows);

                    if (row.child.isShown()) {
                        tr.removeClass('details');
                        row.child.hide();

                        // Remove from the 'open' array
                        detailRows.splice(idx, 1);
                    }
                    else {
                        tr.addClass('details');
                        row.child(protestationResponseView(row.data())).show();

                        // Add to the 'open' array
                        if (idx === -1) {
                            detailRows.push(tr.attr('id'));
                        }
                    }
                });
                // On each draw, loop over the `detailRows` array and show any child rows
                dt.on('draw', function () {
                    $.each(detailRows, function (i, id) {
                        $('#' + id + ' td.details-control').trigger('click');
                    });
                });
            },
            "pagingType": "full_numbers",
            "lengthMenu": [
                [10, 25, 50, -1],
                [10, 25, 50, "All"]
            ],
            "columnDefs": [
                { "orderable": false, "targets": [0] }
            ],
            "processing": true,
            "serverSide": true,
            "ajax": {
                "url": "/ProtestAddressee/GetProtestAddresseeList",
                "type": "Post",
                "data": function (d) {
                    d.periodDefinitionIdDT = $('#periodDefinitionIdDT').children('option:selected').val(),
                        d.departmentIdDT = $('#departmentId').children('option:selected').val()
                },
                //"contentType": 'application/json; charset=utf-8',
                //"cache": false,
                "dataType": "json",
                //'data': function (data) {
                //    data = JSON.stringify(data)
                //    return data;
                //}
            },
            "aoColumns": [
                {
                    "mData": "PeriodCode",
                },
                {
                    "mData": "PeriodTitle",
                },
                {
                    "mData": "text",
                },
                {
                    "mData": "EmployeeDepartmentName",
                },
                {
                    "mData": "Description"
                },
                {
                    "mData": "Confirmation",
                    "render": function (data, type, row, meta) {
                        if (data == null) {
                            data = "نامشخص";
                        } else if (data == true) {
                            data = "تایید";
                        } else if (data == false) {
                            data = "عدم تایید";
                        }
                        return data;
                    }
                },
                {
                    "mData": "VisibilityToHierarchy",
                    "render": function (data, type, row, meta) {
                        if (data == true) {
                            data = "باشد";
                        } else if (data == false) {
                            data = "نباشد";
                        }
                        return data;
                    }
                },
                {
                    "mData": "FullName"
                },
                {
                    "mData": "CoacherLevel"
                },
                {
                    "mData": null,
                    "render": function (data, type, row, meta) {
                        data = "<a href='#' data-toggle='modal' class='reply'>پاسخ</a>";
                        return data;
                    }
                },
                {
                    "class": "details-control",
                    "orderable": false,
                    "data": null,
                    "defaultContent": ""
                }
            ]
        });
    }
    show_dataTable();

    $("#protestAddresseeTbl_filter").after("<div id='departmentIdDT' class='dataTables_filter input-DT'><label>رده سازمانی:<select name='departmentId' id='departmentId' class='form-control input-medium'></select></label></div>");

    $("#protestAddresseeTbl_filter").after("<div class='dataTables_filter input-DT'><label>دوره:<select name='periodDefinitionIdDT' id='periodDefinitionIdDT' class='form-control input---medium'></select></label></div>");

    $("#protestAddresseeTbl_filter").after("<div class='clearfix'></div>");

    $.ajax({
        type: 'get',
        url: '/share/GetPeriodDefinitionFromEvaluation',
        //data: { roleId: roleId },
        success: function (periodDefinition) {
            $("#periodDefinitionIdDT").empty();
            //$("#periodDefinitionIdDT").append("<option></option>");
            var max = 0;
            $(periodDefinition).each(function (i, p) {
                //$("#parentName").select2("val", d.departmentId);
                if (p.periodDefinitoionId > max) {
                    max = p.periodDefinitoionId;
                }
                $("#periodDefinitionIdDT").append("<option value='" + p.periodDefinitoionId + "'>" + p.periodTitle + " (" + p.periodCode + ")</option>");
            })
            $("#periodDefinitionIdDT").val(max);
            $('#periodDefinitionIdDT').trigger('change');
        },
        error: function (status) {
            alert("Error");
        }
    })
    $('#periodDefinitionIdDT').on('change', function () {
        $.ajax({
            type: 'get',
            url: '/EmployeeTaskAssignment/GetDepartmentList',
            //data: { periodDefinitionId: $('#periodDefinitionIdDT').children('option:selected').val() },
            success: function (DepartmentResponsibilty) {

                $("#departmentId").empty();
                $("#departmentId").append("<option></option>");
                //dt.ajax.url("/ParticipantTaskAssignment/GetAssignedTaskList");
                //dt.ajax.reload();
                $(DepartmentResponsibilty).each(function (i, p) {
                    //$("#parentName").select2("val", d.departmentId);
                    $("#departmentId").append("<option value='" + p.EvaluationHierarchyId + "'>" + p.ShortName + "</option>");
                    if (p.PositionType == 1) {
                        $("#departmentId").val(p.EvaluationHierarchyId);
                        //$("#departmentId").trigger('change');
                    }
                })
            },
            error: function (status) {
                alert("Error");
            }
        })
    });
    $('#departmentId').on('change', function () {
        //dt.ajax.url("/Protest/GetProtestList");
        dt.ajax.reload();
    });

    $("#subSetProtestation").one("click", function () {
        $.ajax(
            {
                //url: "/ProtestAddressee/AddAddresseeResponse",
                //contentType: 'aplication/json;charset=utf-8',
                //type: "GET",
                //datatype: 'html',

                url: '/ProtestAddressee/SubSetProtestationPartial',
                //url : formURL,
                //data: postdata,
                //data: JSON.stringify(ProtestResponse),
                //data: "firstName=" + $("fn").val(),
                //cache: false,
                //contentType: false,
                //processData: false,
                datatype: 'json',
                contentType: 'application/json; charset=utf-8',
                type: 'get',

                success: function (data, textStatus, jqXHR) {
                    $("#portlet_tab2").html(data);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert("erorr");
                    alert(jqXHR);
                    alert(textStatus);
                }
            });
    })

                            //$("#reload").click(function () {
                            //    $("#employeeId").val("");
                            //    $("#departmentId").val("");
                            //    dt.ajax.url("/TaskAssignment/GetAssignedTaskList");
                            //    dt.ajax.reload();
                            //    $("#periodDefinitionIdDT").val(null);
                            //    $("#subSetDepartmentIdDT").val("").select2();
                            //    $("#dataTables_filter_employee").addClass("hidden");
                            //    $("#dataTables_filter_subSet").addClass("hidden");
                            //    $("#departmentId").empty();
                            //})
</script>
}
