@{
    Layout = null;
}
@model List<ScoreView>
@if (ViewBag.type == 1)
{
    <table class="table table-striped table-bordered table-hover" id="sample_dt">
        <thead>
            <tr>
                @if (ViewBag.hasCriteria > 0)
                {
                    <th id="th1">
                        نام شاخص
                    </th>
                }
                else
                {
                    <th id="th1">
                        نام وظیفه
                    </th>
                }
                <th id="th4">
                    نمره سایرارزیاب
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    @if (ViewBag.hasCriteria > 0)
                    {
                        <td>@item.CriteriaTitle</td>
                    }
                    else
                    {
                        <td>@item.Title</td>
                    }

                    <td>@item.participantScore</td>
                </tr>
            }

        </tbody>
    </table>
}
