<div class="text-center">
    <h1 class="text-danger">عدم دسترسی</h1>
    <h6 class="text-danger">کاربر گرامی شما اجازه دسترسی به این صفحه را ندارید.</h6>
    <img src="~/images/noaccess.png" style="height:300px; width:300px" />
</div>
